body {
    font-family: "Krub", sans-serif;
}

table {
    float: left;
    border-collapse: collapse;
    width: 66%;
}

.title-container{
    text-decoration: none;
    color: black;
    background-color: lightgrey;
    border: 1px solid black;
    padding: 5px;
}

tr, th, td {
    border: 1px solid black;
    padding: 10px 8px 10px;
    text-align: center;
}

.form-container{
    border: 1px solid black; border-radius: 8px;
    padding: 14px 16px;
    float: right;
    margin: 0 auto;
    width: 30%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container label{
    font-size: large;
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.form-container input{
    margin-bottom: 15px;
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    cursor: pointer;
    background-color: #0056b3;
}

.form-container select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

.form-container select option{
    background-color: #fff;
    color: #333;
}

.delete-button {
    border: 1px solid black; border-radius: 4px;
    padding: 4px 4px 2px ;
    background-color: rgb(255, 93, 93);
    text-decoration: none;
    text-align: center;
    color: white;
}

.delete-button:hover {
    background-color: rgb(122, 36, 36);
}

.update-button{
    border: 1px solid black;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 2px 5px 2px;
    background-color:rgba(114, 255, 185, 0.829);
}

.update-button:hover {
    background-color:rgba(25, 207, 116, 0.829);
}