{% extends 'layout.html' %}

{% block body %}
<div class="form-container">
    <form action="{{ url_for('main.login') }}" method="POST">
        <label class="tittle">Login</label>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <label>Username</label>
        <input type="text" name="usuario">
        <label>Password</label>
        <input type="password" name="password">
        <div class="button-container">
            <button type="submit">Login</button>
        </div>
        <div class="links-container">
            <a href="{{ url_for('main.register') }}">Register</a>
        </div>
        
    </form>
</div>
{% endblock %}
